/*common*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.d-flex {
    display: flex;
}

:root {
    --dp-jumbo: #b4d0e7;
    --dp-button: #0061ff;
    --dp-section: #b4d0e7;
    --dp-footer: #000000;
    --dp-page: #ffffff;
    --footer-language: #999999;
    --dp-litle-designit: #a2d39b;
    --border-litle-designit: #d1e9cd;
    --dp-arizona: #61082b;
    --dp-florida: #0093ce;
    --dp-topps: #ff1c1c;
    --dp-designit: #f5f5f5;
    --dp-bicycle: #d5001f;
    --dp-hearst: #b4d0e7;
    --dp-lonely: #0d2481;
    --dp-clear: #ffd830;

}

button {
    background-color: var(--dp-button);
    border: none;
    color: white;
    padding: 5px;
}

.container {
    width: 60%;
    margin: auto;
}

.iblock {
    display: inline-block;
}

.dinl {
    display: inline;
}

.p0 {
    padding: 0;
}



/*end common*/

/*header*/
header {
    background-color: var(--dp-page);
    position: sticky;
    z-index: 10;
    top: 0;
}

nav {
    height: 80px;
}

.row-h {
    height: 100%;
    justify-content: space-between;
}

.col-h {
    height: 100%;
}

.card-h {
    height: 100%;
    align-items: center;
    padding: 10px;
    font-size: 11px;
    justify-content: center;
}

.card-h img {
    height: 28%;
}

.card-h button {
    background-color: var(--dp-button);
    border: none;
    width: 55px;
    color: white;
    padding: 5px;
    margin: auto;
}

/*end header*/

/*--------Main----------*/

/*---Jumbotron---*/
.jumbotron {
    background-color: var(--dp-jumbo);
    height: 470px;
}

.jumbotron h1 {
    font-size: 50px;
    font-weight: 1000;
    padding-top: 50px;
}

.container-j {
    width: 60%;
    margin: auto;
}

.col-j-l {
    width: 35%;
    height: 300px;
    margin-top: 50px;
    font-size: 12px;
}

.col-j-l p,
button {
    margin-bottom: 15px;
}

.col-j-b {
    width: 65%;
    height: 300px;
}

.col-j-b img {
    width: 100%;
    margin-top: 50px;

}

#arrow {
    font-size: 25px;
    margin-top: 28px;
}

/*---End Jumbotron---*/

/*---Section Find---*/
.find {
    height: 1300px;
}

.title-1 {
    height: 10%;
    margin-top: 7rem;
    margin-left: 17.5rem;
}

.find h2 {
    padding-bottom: 40px;
    font-size: 30px;
}

.bill {
    display: inline-block;
}

.right {
    margin-right: 2rem;
}

.type {
    text-align: center;
    padding-bottom: 1rem;
}

.hr100 {
    margin-top: 1rem;
    width: 100%;
}

.col-find-3 h3 {
    padding: 1rem 0;
}

.col-find-3 h6 {
    padding-bottom: 4rem;
}

.column-1 {
    height: 65%;
    margin-left: 16.5rem;
}

.row-find {
    width: 100%;
    height: 100%;
}

.col-find-3 button {
    margin-top: 1rem;
}

.col-find-3 {
    width: calc(100% / 3);
    padding: 1rem;
    border: solid 1px lightgray;
    margin: 1rem;
}

.user,
.space,
.function {
    font-size: 11px;
    padding-bottom: 1.5rem;
}

.buy {
    margin-bottom: 1.5rem;
    font-size: 11px;
}

.points {
    margin-top: 1rem;
    font-size: 11px;
}

.plans {
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.hr30 {
    width: 30%;
}

.info h4 {
    font-size: 10px;
}

.info h3 {
    font-size: 19px;
    font-weight: bolder;
}

.info h6 {
    font-size: 7px;
}

.type-col {
    text-align: center;
    padding: 0.4rem;
    border-bottom: 1px solid lightgray;
}

.centered {
    margin-left: 16.5rem;
    padding: 1rem;
}

.col-1 {
    width: 60%;
    padding: 1rem;
}

.col-2 {
    width: 40%;
    text-align: right;
}

.col-2 button {
    margin-top: 1rem;
    margin-right: 1rem;
}

.row {
    border: 1px solid lightgray;
}

.col-1 h3 {
    font-size: 19px;
    font-weight: bolder;
    margin-bottom: 0.5rem;
}

.col-1 h4 {
    font-size: 10px;
    margin-bottom: 2rem;
}

.col-1 p {
    font-size: 11px;
}

/*---End Section Find---*/

/*---2nd section---*/
.col-1-normal img {
    width: 100%;
    height: 100%;
}

.col-1-normal {
    width: 57%;
}

.col-2-normal {
    width: 43%;
    text-align: left;
    padding: 2rem;
}

.col-2-normal h4 {
    font-size: 19px;
}
.col-2-normal p {
    font-size: 13px;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.col-2-normal a {
    color: lightgray;
    text-decoration: none;
    font-size: 11px;
    padding: 0.5rem;
    border: 1px solid lightgray;
}

/*---End 2nd section---*/

/*---3rd section---*/
.col-6 {
    width: calc(100% / 3);
    padding-right: 2rem;
}

/*--- End 3rd section---*/
.operation {
    margin-top: 7rem;
}
.col-6 img {
    width: 100%;
}

.col-6 p {
    font-size: 9.5px;
}

.col-6 h4 {
    padding-bottom: 1rem;
}

.row-3 {
    margin-top: 1rem;
}

.col-business{
    width:65%;
}

.row-3-large {
      margin-top: 9rem;
}

.row-3-large h1 {
    font-size: 25px;
    padding-bottom: 2rem;
}

.row-3-large a {
    font-size: 11px;
}

/*--- End 3rd section---*/

/*4th section*/
.row-big {
    width: 100%;
    height: 400px;
}

.col-9 {
    width: calc(100% /3);
    flex-wrap: wrap;
}

.square-4 {
    width: calc(100% / 2);
    padding: 2rem;
    height: 50%;
}

.imagel img  {
    width: 70%;
    margin: auto;
}

.change-color {
    filter: invert(100%);
}

.designit {
    background-color: var(--dp-litle-designit);
}

.arizona {
    background-color: var(--dp-arizona);
}
.florida {
    background-color: var(--dp-florida);
}

.topps {
    background-color: var(--dp-topps);
}

.bicycle {
    background-color: var(--dp-bicycle);
}

.hearst {
    background-color: var(--dp-hearst);
}

.lonely {
    background-color: var(--dp-lonely);
}

.clear {
    background-color: var(--dp-clear);
}
.center-square img  {
    width: 60%;
    padding: 2rem;

}

.center-square p {
    padding: 1rem 2rem;
    font-size: 13px;
}

.bg-square {
    background-color: #f5f5f5;
}

.big-square {
    margin-top: 5rem;
}
/*---end 4th section---*/

/*---5th section---*/



/*---End 5th section---*/
.row-big-keep {
    width: 100%;
}
.col-title {
    width: 50%;
    color: var(--dp-arizona);
}

.col-button {
    width: 50%;
    justify-content: end;
    height: 40px;
    align-items: center;
}

.col-button a {
    background-color: white;
    text-decoration: none;
    font-size: 13px;
    padding: 0.3rem 1.5rem;
}

.keep {
    background-color: var(--dp-jumbo);
    height: 200px;
}

.centered-square {
    margin-left: 16.5rem;
    padding: 1rem;
    padding-top: 4.5rem;
}

/*---6th section FAQ---*/
.faq {
    margin-top: 7rem;
}

.answere {
    display: none;
}

.question {
    justify-content: space-between;
    align-items: center;
}

.faq-content {
    padding: 1rem 0;
    border-bottom: 1px solid lightgray;
    padding: 2rem 0;
}

.faq h3 {
    border-bottom: 1px solid lightgrey;
    padding: 3rem 0;
    font-size: 25px;
}

.question>p {
    font-weight: 700;
}

.faq-content .question i {
    padding-right: 1rem;
}

.faq-content:hover .answere {
    display: block;
    padding: 2rem;
}

.faq-content i{
    transition: rotate 0.5s;
}

.faq-content:hover i {
    rotate: 180deg;
    padding-left: 1rem;
}
/*---End 6th section FAQ---*/

/*--------End Main----------*/

/*Footer*/
footer {
    background-color: var(--dp-footer);
    color: var(--dp-page);
    padding: 4rem 0;
    margin-top: 6rem;
}

.footer-top h5 {
    padding: 1rem 0;
}

.footer-top li {
    list-style-type: none;
    font-size: 0.6rem;
    font-weight: 400;
    padding-top: 0.7rem;
}

.footer-top {
    justify-content: space-between;
    align-items: flex-start;
    padding-bottom: 6rem;
}

.footer-bottom .lenguage {
    border-top: 1px solid var(--dp-page);
    width: 15%;
    padding-top: 2rem;
    gap: 0.5rem;
    align-items: center;
}

.footer-bottom {
    font-size: 0.7rem;
    font-weight: 400;
}

.col-f {
    width: calc(100% / 5);
}

.col-f ul a {
    color: lightgray;
    text-decoration: none;
}

.col-f h5 {
    text-decoration: none;
    color: var(--dp-page);
}

.lenguage a {
    text-decoration: none;
    color: lightgray;
}
/*End Footer*/