/*common*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.d-flex {
    display: flex;
}

:root {
    --dp-button: #0061ff;
    --dp-jumbo: #b4d0e7;

}

button {
    background-color: var(--dp-button);
    border: none;
    color: white;
    padding: 5px;
}

.container {
    width: 60%;
    margin: auto;
}

.iblock {
    display: inline-block;
}

.dinl {
    display: inline;
}

.p0 {
    padding: 0;
}

/*end common*/

/*header*/
nav {
    height: 80px;
}

.row-h {
    height: 100%;
    justify-content: space-between;
}

.col-h {
    height: 100%;
}

.card-h {
    height: 100%;
    align-items: center;
    padding: 10px;
    font-size: 11px;
    justify-content: center;
}

.card-h img {
    height: 28%;
}

.card-h button {
    background-color: var(--dp-button);
    border: none;
    width: 55px;
    color: white;
    padding: 5px;
    margin: auto;
}

/*end header*/

/*--------Main----------*/

/*---Jumbotron---*/
.jumbotron {
    background-color: var(--dp-jumbo);
    height: 470px;
}

.jumbotron h1 {
    font-size: 50px;
    font-weight: 1000;
    padding-top: 50px;
}

.container-j {
    width: 60%;
    margin: auto;
}

.col-j-l {
    width: 35%;
    height: 300px;
    margin-top: 50px;
    font-size: 12px;
}

.col-j-l p,
button {
    margin-bottom: 15px;
}

.col-j-b {
    width: 65%;
    height: 300px;
}

.col-j-b img {
    width: 100%;
    margin-top: 50px;

}

#arrow {
    font-size: 25px;
    margin-top: 28px;
}

/*---End Jumbotron---*/

/*---Section Find---*/
.find {
    height: 1300px;
}

.title-1 {
    height: 10%;
    margin-top: 7rem;
    margin-left: 17.5rem;
}

.find h2 {
    padding-bottom: 40px;
    font-size: 30px;
}

.bill {
    display: inline-block;
}

.right {
    margin-right: 2rem;
}

.type {
    text-align: center;
    padding-bottom: 1rem;
}

.hr100 {
    margin-top: 1rem;
    width: 100%;
}

.col-find-3 h3 {
    padding: 1rem 0;
}

.col-find-3 h6 {
    padding-bottom: 4rem;
}

.column-1 {
    height: 65%;
    margin-left: 16.5rem;
}

.row-find {
    width: 100%;
    height: 100%;
}

.col-find-3 button {
    margin-top: 1rem;
}

.col-find-3 {
    width: calc(100% / 3);
    padding: 1rem;
    border: solid 1px lightgray;
    margin: 1rem;
}

.user,
.space,
.function {
    font-size: 11px;
    padding-bottom: 1.5rem;
}

.buy {
    margin-bottom: 1.5rem;
    font-size: 11px;
}

.points {
    margin-top: 1rem;
    font-size: 11px;
}

.plans {
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.hr30 {
    width: 30%;
}

.info h4 {
    font-size: 10px;
}

.info h3 {
    font-size: 19px;
    font-weight: bolder;
}

.info h6 {
    font-size: 7px;
}

.type-col {
    text-align: center;
    padding: 0.4rem;
    border-bottom: 1px solid lightgray;
}

.centered {
    margin-left: 16.5rem;
    padding: 1rem;
}

.col-1 {
    width: 60%;
    padding: 1rem;
}

.col-2 {
    width: 40%;
    text-align: right;
}

.col-2 button {
    margin-top: 1rem;
    margin-right: 1rem;
}

.row {
    border: 1px solid lightgray;
}

.col-1 h3 {
    font-size: 19px;
    font-weight: bolder;
    margin-bottom: 0.5rem;
}

.col-1 h4 {
    font-size: 10px;
    margin-bottom: 2rem;
}

.col-1 p {
    font-size: 11px;
}

/*---End Section Find---*/

/*---2nd section---*/
.contact {
    
}
.col-1-normal img {
    width: 100%;
    height: 100%;
}

.col-1-normal {
    width: 57%;
}

.col-2-normal {
    width: 43%;
    text-align: left;
    padding: 2rem;
}

.col-2-normal h4 {
    font-size: 19px;
}
.col-2-normal p {
    font-size: 13px;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.col-2-normal a {
    color: lightgray;
    text-decoration: none;
    font-size: 11px;
    padding: 0.5rem;
    border: 1px solid lightgray;
}


/*---End 2nd section---*/



/*--------End Main----------*/